<section class="skills py-5 bg-light position-relative">
  <div class="container p-5 widt-50">
    <h2>My Skills</h2>
    <div class="progress mb-3 ">
      <div class="progress-bar bg-dark " role="progressbar" style="width: 60% ">Fron-end</div>
    </div>
    <div class="progress mb-3 ">
      <div class="progress-bar" role="progressbar" style="width: 70%">Back-end</div>
    </div>
    <div class="progress mb-3 ">
      <div class="progress-bar bg-dark" role="progressbar" style="width: 90%">WordPress</div>
    </div>
    <!-- Add more skills as needed -->
  </div>
</section>
