<section class="bio p-5">
  <div class="container p-5 mx-5">
    <h2>About Me</h2>
    <p class="">
      I am a Software Engineer with a Bachelor's degree in Computer Science
      Graduated from Thebas Academy.
      <br />
      Specialized in Web-applications Development, With a strong passion for
      technology and software development. <br />
      I have consistently achieved full-star ratings on Upwork, Mostaql, and
      Freelancer, <br> reflecting my commitment to delivering high-quality work and
      client satisfaction. <br />
      I further honed my skills by joining the ITI Opensource Full-stack PHP Web
      Development Intensive Code Camp (NC branch).
    </p>
    <a href="https://docs.google.com/document/d/1p6E4TgDWgSnj5Bb6zCoblohBdY7ui1EXh2Uwx71Efds/edit?usp=sharing" target="_blank" class="btn btn-primary" download
      >Curriculum Vitae ( CV ) </a
    >
  </div>
</section>
